:root {
	--cds-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	--cds-cs-200: #a1fcd0;
	--cds-cs-500: #17e9bf;
	--cds-cs-600: #10c8b5;
	--cds-cs-900: #045c6f;

	--cds-ct-400: #F05079;
	--cds-ct-500: #E21860;
	--cds-ct-900: #6e0454;

	--cds-nl-0: #FFFFFF;
	--cds-nl-500: #C8D0D8;
	--cds-nl-700: #B0BDCA;

	--cds-nd-500: #364454;
	--cds-nd-600: #283443;
	--cds-nd-700: #1B2530;
	--cds-nd-800: #111820;
	--cds-nd-900: #0A0E13;

	--cds-nl-300-20: rgba(222, 227, 231, 0.2);
	
	--cds-nd-0-40: rgba(0, 0, 0, 0.4);

	--cds-ui-w-500: #fe8f0c;

}

@keyframes spinner-animation {
	100% { transform: rotate(360deg); } 
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	display: grid;
	overflow: hidden;
	position: relative;
}

body {	
	color: var(--cds-nl-500);
	background-color: var(--cds-nd-900);
	background-image: url('background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--cds-font-family);
	user-select: none;
}

h1 {
	color: var(--cds-nl-0);
	font-style: normal;
	font-weight: 600;
	font-size: 1.75;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

fieldset 
{
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

label
{
	margin: 1rem 0 0.5rem 0;
	padding: 0;
	color: var(--cds-nl-0);
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
}

input, select, .read-only-input
{
	margin: 0;
	color: var(--cds-nl-0);
	background: var(--cds-nl-300-20);
	border-radius: 0.5rem;
	padding: 0 1rem;
	height: 2.75rem;
	font-size: 0.75rem;
	line-height: 1.5rem;
	border: none;	
	font-family: var(--cds-font-family);
}

.read-only-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

input[type=checkbox]
{
	appearance: none;
	font: inherit;
	width: 1.5em;
	height: 1.5em;
	border: none;
	border-radius: 0.15em;
	padding: 0;
	color: var(--cds-nl-0);
	background-color: var(  --cds-nd-500);
	vertical-align: middle;
	display: grid;
	place-content: center;	
}

input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--cds-cs-500);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.read-only-input
{
	text-overflow: ellipsis;
	overflow: hidden;
	user-select: text;
}

select 
{
	appearance: none;
	background-image: url('select-chevron.svg');
	background-repeat: no-repeat;
	background-position: center right;
}

input:focus, select:focus
{
	outline-offset: -1px;
	outline-style: solid;
	outline-color: var(--cds-cs-500);
}

select>option
{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	background: var(--cds-nd-600);
}

input::placeholder
{
	color: var(--cds-nl-700);
}

main {
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	row-gap: 0.25rem;
	margin: 2rem 3rem 1.4rem 3rem;	
}

section {
	display: grid;
	grid-template-rows: max-content max-content 1fr ;
	overflow: hidden;
	margin: 0 3rem 1.25rem 3rem;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	row-gap: 0.25rem;
	background-color: var(--cds-nd-800);
	border-top: 1px solid var(--cds-nd-600);
	margin: 0;
	padding: 1rem 2rem 1rem 0.75rem;
}

dialog {
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 1rem;
	background-color: var(--cds-nd-700);
	border: none;
	padding: 0;
}

dialog::backdrop {
	background-color: #00000066;
}

button {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.25rem;
	padding: 0.8125rem 2rem;
	min-height: 2.25rem;
	border-radius: 0.375rem;
	border: none;
	color: var(--cds-nl-0);
	background: none;
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: var(--cds-nd-900);	
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 3px var(--cds-nd-600), inset 0 0 0 1px var(--cds-nl-500);
	border-radius: 0.5rem;
}

button:disabled {
	color: var(--tcg-light-gray);
	background-color: var(  --cds-nd-500);
}

button.action {
	color: var(--cds-nd-600);
	background-color: var(--cds-cs-500);
}

button.action:hover {
	background-color: var(--cds-cs-600);
}

button.action:focus {
	box-shadow: 0 0 0 3px var(--cds-cs-900), inset 0 0 0 1px var(--cds-cs-200);
}

button.reveal {
	font-size: 0.875rem;
	line-height: 1.3125rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: var(--cds-cs-500);
}

button.reveal::after {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0 0 0.8125rem;
	padding: 0;
	vertical-align: bottom;
	display: inline-block;
	background-image: url('chevron-down.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

button.hide {
	font-size: 0.875rem;
	line-height: 1.3125rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: var(--cds-cs-500);
}

button.hide::after {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0 0 0.8125rem;
	padding: 0;
	vertical-align: bottom;
	display: inline-block;
	background-image: url('chevron-down.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transform: scaleY(-1);
}

button.right-arrow {
	width: 2.25rem;
	height: 2.25rem;
	border: none;
	border-radius: 0.375rem;
	background-color: var(--cds-nl-0);
	color: var(--cds-nd-900);
	background-image: url(arrow-right-dark.svg);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: center;
	margin: 0;
	padding: 0;
}

button.right-arrow:disabled {	
	background-image: url(arrow-right-gray.svg);
	background-color: var(  --cds-nd-500);
}

button.left-arrow {
	width: 2.25rem;
	height: 2.25rem;
	border: none;
	border-radius: 0.375rem;
	background-color: var(--cds-nl-0);
	color: var(--cds-nd-900);
	background-image: url(arrow-left-dark.svg);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: center;
	margin: 0;
	padding: 0;
}

button.left-arrow:disabled {
	background-image: url(arrow-left-gray.svg);
	background-color: var(  --cds-nd-500);
}

button.remove-item {
	width: 2.75rem;
	height: 2.75rem;
	border: none;
	border-radius: 0.375rem;
	background-color: var(--cds-ct-500);
	color: var(--cds-nl-0);
	background-image: url(minus-light.svg);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: center;
	margin: 0;
	padding: 0;
}

button.remove-item:hover {
	background-color: var(--cds-ct-400);
}

button.remove-item:focus {
	box-shadow: inset 0 0 0 3px var(--cds-ct-900), inset 0 0 0 4px var(--cds-ct-400);
}

button.add-item {
	width: 2.75rem;
	height: 2.75rem;
	border: none;
	border-radius: 0.375rem;
	background-color: var(--cds-cs-500);
	color: var(--cds-nd-600);
	background-image: url(plus-dark.svg);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: center;
	margin: 0;
	padding: 0;
}

button.close-dialog {
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	border-radius: 0.375rem;		
	background-color: transparent;
	background-image: url(close-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0;
	padding: 0;
}

button.close-dialog:hover {
	background-color: var(--cds-ct-400);
}

button.close-dialog:focus {
	box-shadow: inset 0 0 0 3px var(--cds-ct-900), inset 0 0 0 4px var(--cds-ct-400);
}

footer > button {
	font-size: 1.125rem;
	line-height: 1.125rem;
	padding: 0.53125rem 1.5rem;
}

.tcg-logo {
	background-image: url('logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: min(15rem, calc(100vw - 6rem));
	aspect-ratio: 240 / 47;
	display: grid;
	grid-template-columns: max-content 1.2rem;
	justify-content: end;
	align-content: end;
	line-height: 0.1rem;
	font-size: 0.6rem;
	color: var(--cds-nl-0);
}

.tcg-dark-spinner::after {
	content: '';
	width: 1.2em;
	height: 1.2em;
	margin: -0.2em -0.5em -0.2em 0.5em;
	vertical-align: bottom;
	display: inline-block;
	background-image: url('dark-spinner.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	animation: spinner-animation 3s linear infinite;
}

.tcg-light-spinner::after {
	content: '';
	width: 1.2em;
	height: 1.2em;
	margin: 0 -0.5em 0 0.5em;
	vertical-align: bottom;
	display: inline-block;
	background-image: url('light-spinner.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	animation: spinner-animation 3s linear infinite;
}

.tcg-left-arrow-light::before {
	content: '';
	width: 1.2em;
	height: 1.2em;
	margin: -0.2em 0.5em -0.2em -0.5em;
	display: inline-block;
	background-image: url('arrow-left-light.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.tcg-light-download::after {
	content: '';
	width: 1.4em;
	height: 1.4em;
	margin: -0.4em 0 -0.4em 0.8em;
	padding: 0;
	display: inline-block;
	background-image: url('download.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.tcg-danger-icon {
	background-image: url('danger-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 2rem;
	aspect-ratio: 1 / 1;
}

.tcg-warning-icon {
	background-image: url('warning-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 1.5rem;
	aspect-ratio: 1 / 1;
}

.tcg-tab-strip {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: column;	
}

.tcg-tab-strip > button {
	font-size: 0.875rem;
	line-height: 0.875rem;
	margin: 0;
	padding: 0.46875rem 1.25rem;
	border-radius: 0;
	color: var(--cds-nl-0);
	background-color: var(--cds-nd-600);
}

.tcg-tab-strip > button:first-child {
	border-radius:0.46875rem 0 0 0.46875rem;
}

.tcg-tab-strip > button:last-child {
	border-radius: 0 0.46875rem 0.46875rem 0;
}

.tcg-tab-strip > button.selected {
	color: var(--cds-nd-600);
	background-color: var(--cds-cs-500);	
}

div.tab-page {
	display: grid;
	align-content: start;
	overflow: hidden;	
}

.tcg-success-notice
{
	color: var(--cds-nl-0);
	background-color: var(--cds-nd-700);
	border-radius: 0.75rem;
	padding: 1.125rem 2rem 1.125rem 3.6rem;
	font-size: 0.875rem;
	line-height: 0.875rem;
	background-image: url('check-icon.svg');
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: left 1.2rem center;
}

.tcg-error-notice 
{
	color: var(--cds-nl-0);
	background-color: var(--cds-nd-700);
	border-radius: 0.75rem;
	padding: 1.125rem 2rem 1.125rem 3.6rem;
	font-size: 0.875rem;
	line-height: 0.875rem;
	background-image: url('danger-icon.svg');
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: left 1.2rem center;
}

.tcg-stat-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;		
	column-gap: 1rem;
	row-gap: 0.5rem;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.tcg-stat-group>div>span {
	color: var(--cds-nl-0);
}
